@use '@styles/index.scss' as *;

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  transition: opacity 0.5s ease-out;
}

.animationContainer {
  width: 200px;
  height: 200px;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}
