@use '@styles/index.scss' as *;

.cloud {
  width: 200px;
  height: 150px;
  position: absolute;

  &::before {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(62, 62, 62);
    transform: translate(-50%, -50%);
    content: 'Здрасте';
    font-weight: 500;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
  }
}
