@use '@styles/index.scss' as *;

.loader {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-005;
  inset: 0;
  opacity: 1;
  will-change: opacity;
}

.animationWrapper {
  opacity: 1;
  will-change: opacity;
}

.animation {
  width: 200px;
  display: block;

  @include tablet {
    width: 300px;
  }

  @include desktop {
    width: 400px;
  }
}
