@use '@styles/index.scss' as *;

.game {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.description {
  margin-top: 10dvh;
  font-size: $font-size-base;
  text-align: center;
}
