@use '@styles/index.scss' as *;

.banner {
  height: 100dvh;
  position: relative;
  cursor: grab;
  overflow: hidden;
  pointer-events: auto;
  touch-action: none;
  user-select: none;
}

.scene {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('@assets/scene.webp') no-repeat;
  aspect-ratio: 1000 / 400;
  background-size: cover;
  will-change: transform;
}

.object {
  position: absolute;
  cursor: pointer;
}

.image {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease-in-out;
  object-fit: cover;
  pointer-events: auto;
  touch-action: none;
  transform-origin: center center;
  -webkit-user-drag: none;

  &:hover {
    filter: drop-shadow(0 0 2px rgb(255, 255, 255)) drop-shadow(0 0 4px rgba(137, 175, 249, 0.755))
      drop-shadow(0 0 5px rgba(223, 209, 253, 0.373));
  }

  &:active {
    cursor: grabbing;
  }
}

.bonus {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('@assets/star-bg.png') no-repeat center center;
  background-size: 100% 100%;
  transform-origin: center center;

  .bonusImage {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: relative;
    z-index: 1;
    object-fit: cover;
  }
}

.prizeImage {
  width: 47px;
  height: 76px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.additionalObject {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.count {
  padding: 4px 14px 6px;
  margin: auto auto 0;
  width: fit-content;
  position: fixed;
  right: 20px;
  bottom: 25px;
  z-index: 1;
  border-radius: 12px;
  background: #dcff00;
  color: black;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: 800;
}
