@use '@styles/index.scss' as *;

.banner {
  height: 100dvh;
  position: relative;
  background: url('@assets/scene.png') no-repeat;
  aspect-ratio: 1200 / 540;
  background-size: cover;
  cursor: grab;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

.image {
  position: absolute;
  transition: filter 0.3s ease-in-out;
  cursor: grab;
  pointer-events: auto;
  transform-origin: center center;

  &:hover {
    filter: drop-shadow(0 0 4px rgb(255, 255, 255)) drop-shadow(0 0 4px rgb(255, 72, 0))
      drop-shadow(0 0 4px rgb(255, 72, 0));
  }

  &:active {
    cursor: grabbing;
  }
}
