@use '@styles/index.scss' as *;

.banner {
  margin: 0 auto;
  height: 100dvh;
  position: relative;
  background: url('@assets/scene.png') no-repeat center center;
  aspect-ratio: 1103/768;
  background-size: contain;
  overflow: hidden;
}

.image {
  min-width: 50px;
  max-width: 150px;
  position: absolute;
  aspect-ratio: 1/1;
  cursor: pointer;
  object-fit: contain;
  transform-origin: center center;
  user-select: none;
}
