@use '@styles/index.scss' as *;

.overlay {
  padding: $spacing-md;
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  z-index: 1000;
  display: grid;
  inset: 0;
  place-items: center;
}

.content {
  padding: 16px 14px;
  width: 234px;
  height: 289px;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: $bg-primary;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.image {
  margin: 0 auto;
  width: 100px;
  height: 180px;
  transform: rotate(15deg);
  object-fit: cover;
}

.name {
  margin: 0;
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.button {
  padding: 2px 26px 4px;
  margin: auto auto 0;
  width: fit-content;
  border: none;
  border-radius: 12px;
  background: #dcff00;
  color: black;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: 700;
}
