@use '@styles/index.scss' as *;

.buttonDark {
  background-color: $black-005;
  color: $text-inverse;

  &:hover:not(:disabled) {
    background-color: $black-010;
  }
}

.buttonSmall {
  padding: $spacing-xs $spacing-sm;
  font-size: $font-size-sm;
}

.buttonMedium {
  padding: $spacing-sm $spacing-md;
  font-size: $font-size-base;
}

.buttonLarge {
  padding: $spacing-md $spacing-lg;
  font-size: $font-size-lg;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}
