@use '@styles/index.scss' as *;

.gamePixi {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.gamePixi :global(canvas) {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
