@use '@styles/index.scss' as *;

.gamePixi {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
.gamePixi :global(canvas) {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.count {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.gameOverModal {
  width: 400px;
  color: black;
  text-align: center;
}

.gameOverModalContent {
  padding: 0 20px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameOverModalText {
  margin-top: 24px;
  font-size: $font-size-base;
  text-wrap-mode: balance;
}

.gameOverModalButton {
  margin-top: auto;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    border-color: transparent;
  }
}
