@use '@styles/index.scss' as *;

.container {
  position: relative;
  display: inline-block;
  will-change: transform;
}

.canvas {
  width: 300px;
  height: 250px;
  display: block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
